<a href="https://colab.research.google.com/github/sujanay/Data-Science-Projects/blob/master/Data_scientist_Interview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. iexfinance

In [0]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')


def create_sample_data():
    np.random.seed(1696)  # The united flight number on which I made this function
    # make some random data
    dp = []
    no3 = []
    nh4 = []
    ph = []
    om = []
    cec = []
    for y in range(0, 10):
        for x in [3, 6, 12, 24, 64]:
            dp.append(x)
        no3.append(np.linspace(4, 0, 5) + np.random.rand(5))
        nh4.append(np.linspace(4, 0, 5) + np.random.rand(5))
        ph.append(np.linspace(6, 4, 5) + np.random.rand(5))
        om.append(np.linspace(1, 4, 5) + np.random.rand(5))
        cec.append(np.linspace(14, 25, 5) + np.random.rand(5))
    input_df = pd.DataFrame({"lat": np.repeat([42.8 + np.random.rand(10)], 5),
                             "lon": np.repeat([-89.9 + np.random.rand(10)], 5),
                             "field_id": np.repeat(["A", "B", "C", "D", "E", "F", "G", "H", "I", "J"], 5),
                             "depth_in": dp,
                             "no3_g_m2": np.ravel(np.unwrap(cec)),
                             "nh4_g_m2": np.ravel(np.unwrap(nh4)),
                             "ph": np.ravel(np.unwrap(ph)),
                             "om_100": np.ravel(np.unwrap(om)),
                             "cec_cmol_kg": np.ravel(np.unwrap(cec))})
    updated_input_df = input_df.copy()
    # Now randomly, set some values to NaNs
    for x in range(20):
        nan_index1 = np.random.randint(10, 50)
        updated_input_df['no3_g_m2'].loc[nan_index1] = np.nan
        nan_index2 = np.random.randint(10, 50)
        updated_input_df['nh4_g_m2'].loc[nan_index2] = np.nan
        nan_index3 = np.random.randint(10, 50)
        updated_input_df['ph'].loc[nan_index3] = np.nan
        nan_index4 = np.random.randint(10, 50)
        updated_input_df['om_100'].loc[nan_index4] = np.nan
        nan_index5 = np.random.randint(10, 50)
        updated_input_df['cec_cmol_kg'].loc[nan_index5] = np.nan
    locations_df = updated_input_df[['field_id', 'lat', 'lon']].drop_duplicates()
    soil_samples_df = updated_input_df[['lat', 'lon', 'depth_in', 'no3_g_m2', 'nh4_g_m2',
                                        'ph', 'om_100', 'cec_cmol_kg']].drop_duplicates()
    # print(" ********   ")
    # print(" ********   ")
    # print(f"First dataset: locations_df: shape =  {locations_df.shape}")
    # print(locations_df.head())

    # print(" ********   ")
    # print(" ********   ")
    # print(f"Second dataset: soil_samples_df: shape =  {soil_samples_df.shape}")
    # print(soil_samples_df.head())
    return locations_df, soil_samples_df

In [5]:
print("Preparing the two datasets locations_df, and soil_samples_df")
locations_df, soil_samples_df = create_sample_data()

Preparing the two datasets locations_df, and soil_samples_df

In [6]:
locations_df.head()

   field_id        lat        lon
0         A  43.583982 -89.887271
5         B  43.550064 -89.536903
10        C  43.544270 -89.320629
15        D  43.628656 -89.148494
20        E  43.666576 -89.707082

In [7]:
soil_samples_df.head()

         lat        lon  depth_in  ...        ph    om_100  cec_cmol_kg
0  43.583982 -89.887271         3  ...  6.316604  1.968296    14.442967
1  43.583982 -89.887271         6  ...  5.745816  2.623914    17.172785
2  43.583982 -89.887271        12  ...  5.466468  3.032368    20.074758
3  43.583982 -89.887271        24  ...  4.636909  3.824171    23.058251
4  43.583982 -89.887271        64  ...  4.722681  4.473293    25.172066

[5 rows x 8 columns]

In [13]:
soil_samples_df.groupby('depth_in')[['ph', 'om_100']].max()

                ph    om_100
depth_in
3         6.756729  1.968296
6         6.454724  2.691550
12        5.859755  3.165993
24        5.465211  4.245855
64        4.856508  4.750726

In [0]:
# " ******** ****************************************  "
# Question 1
# Run the code and explore the dataset.
# Once complete Sufficiently describe the dataset by its main characteristics:

# print(locations_df)
# print()
# print(soil_samples_df)

# print(locations_df.describe())

# print(soil_samples_df.describe())
# print(soil_samples_df.columns)

# print(soil_samples_df['depth_in'].nunique())
# print(soil_samples_df['depth_in'].unique())

# print(locations_df.head(5))
# print(locations_df['field_id'].nunique())

# " ******** ****************************************  "
# Question 2
# 1 Find the mean OM value for each depth across all samples
# print(soil_samples_df.groupby('depth_in')[['om_100','ph']].mean())

# 2 Find the median OM value for each depth across all samples
# print(soil_samples_df.groupby('depth_in')['om_100'].median())

# 3 Find the average OM values for each location across all depths
# print(soil_samples_df.groupby(['lat', 'lon'])['om_100'].mean())

# 4 What kind of visualizations would you chose for the EDA?
# import seaborn as sns
# print(sns.heatmap)
# import matplotlib.pyplot as plt
# plt.figure(figsi=)
# plt.imshow(data)


# " ******** ****************************************  "
# Question 3
# How would you find missing values?
# print(soil_samples_df.isnull().values.any())

# Add an additional column to the table that indicates if the row contains any missing values.
# soil_samples_df['has_null'] =
# print(soil_samples_df.iloc[0:49].isnull().values.any())

# How would you replace missing values?
# print(soil_samples_df.fillna(-999))

# Try to find the missing values, do some interpolation close to what itâ€™s neighbors have, neighbor on the left and right and chose the mean
# What limitations exists with this strategy?


# " ******** ****************************************  "
# Question 4
# How would you join locations_df data with the soil_samples_df? (You may need to explore it first)